* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root {
    --btn-color: skyblue;
    --bg-color: #EAEDF0;
    --calc-bg-color: #F6F7F8;
    --num-color: seagreen;
    font-size: clamp(0.5rem, 1rem, 2rem);
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-weight: 1000;
}

body {
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: var(--bg-color);
}

.calcBody {
    display:flex;
    flex-direction: column;
    background-color: var(--calc-bg-color);
    gap: 1rem;
    width: clamp(40ch, 50%, 50ch);
    border: solid white 5px;
    margin-top: 50px;
}

.display {
    font-size: 5rem;
    color: black;
    padding-right: 1rem;
    background-color: lightgray;
    /* border: solid blue 0.5rem; */
    text-align: right;
}

.buttonSect {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: center;
}

button {
    width: 24%;
    height: 10vw;
    background-color: var(--btn-color);
}

button+.number {
    background-color: var(--num-color);
}

.zero {
    width: 49%;
}