:root {
    --main-color: red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: clamp(0.5rem, 1rem, 2rem);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
}

body {
    display: flex;
    justify-content: center;
}

.calcBody {
    display:flex;
    flex-direction: column;
    gap: 1rem;
    width: clamp(45ch, 50%, 75ch);
    height: auto;
    border: solid red 5px;
    margin-top: 50px;
}

.display {
    display: flex;
    font-size: 5rem;
    flex-direction: column;
    color: black;
    background-color: white;
    border: solid blue 0.5rem;
    align-self: stretch;
    text-align: right;
}

button {
    width: 24%;
    height: 10vw;
}